<ion-header>
  <ion-toolbar>
    <ion-title>New Group</ion-title>
    <ion-back-button slot="start" (click) = "back()"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="createGroupForm" (submit)="createGroup()">

    <input formControlName="title" type="text" placeholder="Group Name">
    <ion-button expand="block" color="dark" id="cancelbtn" routerLink='/agent-tabs/agent-tab2'>Cancel</ion-button>
    <ion-button expand="block" type="submit" [disabled]="!createGroupForm.valid">Add</ion-button>
  </form>
</ion-content>
