<ion-header>
  <ion-toolbar>
    <ion-title>{{viewTitle}}</ion-title>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-content>
 
    <!-- Card for adding a new event -->
    <ion-card>
      <ion-card-header tappable (click)="collapseCard = !collapseCard">
        <ion-card-title>Add New Event</ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="collapseCard == false">
   
        <ion-item>
          <ion-input type="text" placeholder="Title" [(ngModel)]="event.title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Description" [(ngModel)]="event.desc"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Start</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime" [min]="minDate"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>End</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.endTime" [min]="minDate"></ion-datetime>
        </ion-item>
         
      
        <ion-button fill="outline" expand="block" (click)="addEvent()" [disabled]="event.title == ''">Add Event</ion-button>
   
      </ion-card-content>
    </ion-card>

  <calendar [eventSource]="eventSource"
        [calendarMode]="calendar.mode"
        [currentDate]="calendar.currentDate"
        (onEventSelected)="onEventSelected($event)"
        (onTitleChanged)="onViewTitleChanged($event)"
        (onTimeSelected)="onTimeSelected($event)"
        step="30"
        class="calendar"
        >
      </calendar>
<h1> Assignments Due</h1>
      <ion-card *ngFor="let entry of userAssignments | async" routerLink="/detail-assignment/{{entry.assignmentUID}}">
        <ion-card-header>
           <ion-card-title id="header_title">{{entry.title}} </ion-card-title>
        </ion-card-header>
        <ion-card-subtitle id ="header_date">{{entry.dueTime}}</ion-card-subtitle>
        <ion-card-content id="content">
          {{ entry.desc }}
        </ion-card-content>
      </ion-card>


      <ion-card *ngFor="let entry of groupAssignments | async" routerLink="/detail-assignment/{{entry.assignmentUID}}">
        <ion-card-header>
           <ion-card-title id="header_title">{{entry.title}} </ion-card-title>
        </ion-card-header>
        <ion-card-subtitle id ="header_date">{{entry.dueTime}}</ion-card-subtitle>
        <ion-card-content id="content">
          {{ entry.desc }}
        </ion-card-content>
      </ion-card>

</ion-content>