<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click) = "back()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ (impulse | async)?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div padding>
      <h2 class="entry-titles">{{ (impulse | async)?.title }}</h2>

       <h3 id="entry-date">Date: {{ (impulse | async)?.date }} </h3>
       <h4 id="entry-scale">Scale: {{ (impulse | async)?.scale }} </h4>
       <h6 id="entry-desc">Description: {{ (impulse | async)?.description }} </h6>
</div>
</ion-content>
