<ion-header class="bar-positive" align-title="center">
  <ion-toolbar>
    <ion-title class="title">Assignments</ion-title>
    <ion-buttons slot="end"> 
      <ion-button routerLink="/create-entry">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false" ></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar class="search" debounce="500" (ionInput)="search($event)" placeholder="Search"></ion-searchbar>
 
 
    <button  class="sort" id="drop" (click)="dropMenu()">Sort</button>

  <div class="dropdown">
      <div id="myDrop" class="dropdown-cont">
        <a (click) = "ordering ='title'; reverse = true">Title A-Z</a>
        <a (click) = "ordering ='title'; reverse = false">Title Z-A</a>


        <a (click) = "ordering ='timestamp'; reverse = false">Oldest</a>
        <a (click) = "ordering ='timestamp'; reverse = true">Newest</a>
      </div>
    </div>
<br>

  <ion-card *ngFor="let entry of currentEntries | async |  orderBy: ordering : reverse : true" routerLink="/agent-detail-assignment/{{entry.assignmentUID}}">
    <ion-card-header>
       <ion-card-title id="header_title">{{entry.title}} </ion-card-title>
       <ion-card-subtitle id ="header_date">{{entry.dueTime}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="entry">
      {{ entry.desc }}
    </ion-card-content>
  </ion-card>
</ion-content>
