<ion-header class="bar-positive" align-title="center">
  <ion-toolbar>
    <ion-title class="title">Assigned Works</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/agent-create-assignment">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false" ></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar class="search" debounce="500" (ionInput)="search($event)" placeholder="Search"></ion-searchbar>
 
 
    <button  class="sort" id="drop" (click)="dropMenu()">Sort</button>

  <div class="dropdown">
      <div id="myDrop" class="dropdown-cont">
        <a (click) = "order ='title'; reverse = false">Title A-Z</a>
        <a (click) = "order ='title'; reverse = true">Title Z-A</a>


        <a (click) = "order ='dueTime'; reverse = false">Earliest</a>
        <a (click) = "order ='dueTime'; reverse = true">Latest</a>
      </div>
    </div>
<br>

  <ion-card *ngFor="let assign of assignmentList | async  |orderBy: order : reverse : true"  routerLink="/agent-detail-assignment/{{assign.assignmentUID}}">
    <ion-card-header>
       <ion-card-title id="header_title">{{assign.title}} </ion-card-title>
       <ion-card-subtitle id ="header_date">{{assign.dueTime}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="entry">
      {{ assign.desc }}
    </ion-card-content>
  </ion-card>
</ion-content>
