<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ (assignment | async)?.title }}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div padding>
        <h2 class="entry-titles">
            <span [hidden]="edit == true" (dblclick)="showEdit()">{{ (assignment | async)?.title }}</span>
            <input id= "edited-title"  value="{{ (assignment | async)?.title }}"  [hidden]= "edit == false" >
         </h2>
         <p class="entry-date">{{ (assignment | async)?.dueTime }}  </p>
        <span> <p class="entry-content" [hidden]="edit == true" (dblclick)="showEdit()">{{ (assignment | async)?.desc }}</p>
   <textarea class="edit-content" id= "edited-content" [hidden]= "edit == false" >{{ (assignment | async)?.desc }} </textarea></span>
    </div>
    <input
  style="display: none"
  type="file" (change)="onFileChanged($event)"
  #fileInput>
<button (click)="fileInput.click()">Select File</button>
<button (click)="onUpload()">Upload!</button>
</ion-content>
