<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ (entry | async)?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card class="impulse-card">
    <ion-card-content>Entry: {{ (entry | async)?.title }}</ion-card-content>
    <ion-card-content>Date: {{ (entry | async)?.date }}</ion-card-content>
    <ion-card-content>Day: {{ (entry | async)?.day }}</ion-card-content>
    <ion-card-content>Content: {{ (entry | async)?.content }}</ion-card-content>
  </ion-card>
  <ion-button expand="block" (click)="deleteEntry()">
    <ion-icon name="trash"></ion-icon>
  </ion-button>
</ion-content>
