
form{
    margin-top: 10%;
    width: 85%;
    margin-left:5%;
}

.field{
    padding-top: 5%;
   }
   #title{
    width: 70%;
    height: 5%;
   }

#scale{
    margin-bottom: 10%;
    margin-top: 10%;

}
   #content{
    height: 125px;
    border-radius: 10px;
    font-size: 17px;
    padding-bottom: 5%;
    margin-bottom: 10%;
   }
   ion-item{
   margin-left: 5%;
    font-size: 17px;
    border-radius: 10px;
    //display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
   }
   