<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ (entry | async)?.title }}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div padding>
        <h2 class="entry-titles">
            <img class="title-image" src="assets/days_of_week/{{ (entry | async)?.day }}_icon.png" />
            <span [hidden]="edit == true" (dblclick)="showEdit()">{{ (entry | async)?.title }}</span>
            <input id= "edited-title"  value="{{ (entry | async)?.title }}"  [hidden]= "edit == false" >
         </h2>
         <p class="entry-date">{{ (entry | async)?.date }}  </p>
        <span> <p class="entry-content" [hidden]="edit == true" (dblclick)="showEdit()">{{ (entry | async)?.content }}</p>
   <textarea class="edit-content" id= "edited-content" [hidden]= "edit == false" >{{ (entry | async)?.content }} </textarea></span>
    </div>
  <ion-button expand="block" color="danger" id="deletebtn"(click)="deleteEntry()">Delete
    <ion-icon name="trash"></ion-icon>
  </ion-button>
  <ion-button color="success" expand="block" [hidden]= "edit == true"   id="editbtn" (click)="showEdit()">Edit
      <ion-icon name="create"></ion-icon>
    </ion-button>
   
    <ion-button color="success" expand="block" [hidden]= "edit == false" id="editbtn" (click)="editEntry()">Done 
      <ion-icon name="done-all"></ion-icon>
    </ion-button>
</ion-content>
