<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ (user | async)?.firstName }} {{ (user | async)?.lastName }}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div padding>
        <h2 class="entry-titles">
            <img class="title-image" src="{{user.photoURL}}" />
            <span>{{ (user | async)?.firstName }} {{ (user | async)?.lastName }</span>
         </h2>

         <p class="entry-date">{{ (user | async)?.email }}  </p>
         <p class="entry-date">{{ (user | async)?.phoneNumber }}  </p>
         <p class="entry-date">{{ (user | async)?.userType }}  </p>

        </div>
  <ion-button expand="block" color="danger" id="deletebtn"(click)="deleteEntry()">
    <ion-icon name="trash"></ion-icon>
  </ion-button>
</ion-content>
