<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ (user | async)?.firstName }} {{ (user | async)?.lastName }}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div padding>
        <h2 class="entry-titles">
            <img class="title-image" src="{{(user | async)?.photoURL}}" />
            <span>{{ (user | async)?.firstName }} {{ (user | async)?.lastName}}</span>
         </h2>

         <p class="user_info">{{ (user | async)?.email }}  </p>
         <p class="user_info">{{ (user | async)?.phoneNumber }}  </p>
         <p class="user_info">{{ (user | async)?.userType }}  </p>


        </div>
  <ion-button expand="block" color="light" id="profilebtn" (click) = "routeToClient()">
  View Profile
  </ion-button>

  <ion-button expand="block" color="medium" id="pairbtn"(click)="Pair()">
  Pair
  </ion-button>

  <ion-button expand="block" color="danger" id="deletebtn"(click)="deleteUser()">
Remove user
  </ion-button>
</ion-content>
