<ion-header>
    <ion-toolbar>
      <ion-title>New Entry</ion-title>
      <ion-back-button slot="start"></ion-back-button>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <form [formGroup]="createEntryForm" (submit)="createEntry()">
    <div class="field">
      <input type="text" name ="title"  formControlName="title" placeholder="Title"class="form-control" id="title">
    </div>
    <div class="field"> 
      <textarea formControlName="content" id= "content" type="text" placeholder="Content"></textarea>
    </div>
<br><br>
<ion-button id="cancelbtn" expand="block" color="dark" routerLink='/tabs/tab1'>Cancel</ion-button>
    <ion-button expand="block" type="submit" [disabled]="!createEntryForm.valid">Add</ion-button>
  </form>
</ion-content>
