<ion-header class="bar-positive" align-title="center">
  <h1 class="title" >
      <img class="title-image" src="assets/icon/choices_icon.png" />
      <span>Journal</span>
   </h1>
</ion-header>
<ion-content padding>


<span>
<ion-searchbar class="search" debounce="500" (ionInput)="search($event)" placeholder="Search"></ion-searchbar>

<button  class="menu" id="dropbtn" (click)="dropMenu()" src="assets/icon/menu_icon.png">Sort</button></span>

<div class="dropdown">
      <div id="myDropdown" class="dropdown-content">
        <a (click) = "order ='title'; reverse = false">Title A-Z</a>
        <a (click) = "order ='title'; reverse = true">Title Z-A</a>


        <a (click) = "order ='timestamp'; reverse = false">Oldest</a>
        <a (click) = "order ='timestamp'; reverse = true">Newest</a>
      </div>
    </div>
<br>
<!--
  <div class="entry" (click)="openEntry(entry)" *ngFor="let entry of currentEntries | orderBy: order : reverse : true">
          <img id="header_week" class="title-image" src="assets/days_of_week/{{entry.day}}_icon.png" />
          <h5 id="header_title">{{entry.title}}</h5>
          <p id="header_date">{{entry.date}}</p>
          <h6>{{entry.content}}</h6>
     </div>
<br>

-->
    <img class="sticky" (click)="addEntry()" src="assets/icon/add.png" />

</ion-content>

