<ion-header>
  <ion-toolbar>
    <ion-title>Journal</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/create-entry">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let entry of currentEntries | async" routerLink="/detail-entry/{{entry.id}}">
    <ion-card-header>
      {{ entry.title }}
    </ion-card-header>
    <ion-card-content>
      {{ entry.content }}
    </ion-card-content>
  </ion-card>
</ion-content>
