<ion-header>
  <ion-toolbar>
    <ion-title>Impulses</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/create">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar class="search" debounce="500" (ionInput)="search($event)" placeholder="Search"></ion-searchbar>
  <button  class="sort" id="dropbtn" (click)="dropMenu()">Sort</button>

  <div class="dropdown">
      <div id="myDropdown" class="dropdown-content">
        <a (click) = "order ='title'; reverse = false">Title A-Z</a>
        <a (click) = "order ='title'; reverse = true">Title Z-A</a>
        <a (click) = "order ='timestamp'; reverse = true">Newest</a>
        <a (click) = "order ='timestamp'; reverse = false">Oldest</a>
        <a (click) = "order ='scale'; reverse = true">Highest</a>
        <a (click) = "order ='scale'; reverse = false">Lowest</a>
      </div>
    </div>
<br>
<!-- routerLink="/detail-entry/{{entry.id}}"
      <img id="photo_id" class="title-image" src="{{user.photoURL}}" />

-->
<ion-card *ngFor="let user of currentUsers | async |  orderBy: ordering : reverse : true">
  <ion-card-header>
     <ion-card-title id="user_name">{{user.email}} </ion-card-title>
     <ion-card-subtitle id ="user_type">{{user.isAdmin}}</ion-card-subtitle>
  </ion-card-header>
</ion-card>
</ion-content>

