<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ (impulse | async)?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card class="impulse-card">
    <ion-card-content class="entry-titles">{{ (impulse | async)?.title }}</ion-card-content>
    <ion-card-content class="entry-info">Date: {{ (impulse | async)?.date }}</ion-card-content>
    <ion-card-content class="entry-info">Scale: {{ (impulse | async)?.scale }}</ion-card-content>
    <ion-card-content class="entry-content">Description: {{ (impulse | async)?.description }}</ion-card-content>
  </ion-card>
</ion-content>
