<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/user-detail/{{userId}}'></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Assignments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar class="search" debounce="500" (ionInput)="search($event)" placeholder="Search"></ion-searchbar>
<button  class="sort" id="dropb" (click)="dropMenu()">Sort</button>

<div class="dropdown">
    <div id="myDropd" class="dropdown-content">
      <a (click) = "order3 ='title'; reverse = false">Title A-Z</a>
      <a (click) = "order3 ='title'; reverse = true">Title Z-A</a>
      <a (click) = "order3 ='timestamp'; reverse = true">Newest</a>
      <a (click) = "order3 ='timestamp'; reverse = false">Oldest</a>
      <a (click) = "order3 ='scale'; reverse = true">Highest</a>
      <a (click) = "order3 ='scale'; reverse = false">Lowest</a>
    </div>
  </div>
<br>
<ion-card *ngFor="let assign of assignments | async |orderBy: order3 : reverse : true" (click) = "editAssignment(assign.assignmentUID)">
  <ion-card-header>
    <ion-card-title id="header_title">{{assign.title}} </ion-card-title>
    <ion-card-subtitle id ="header_date">{{assign.dueTime}}</ion-card-subtitle>
 </ion-card-header>
 <ion-card-content class="entry">
   {{ assign.desc }}
 </ion-card-content>
</ion-card>
</ion-content>
