<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/user-detail/{{this.userId}}'></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Goals</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
 <!-- Basic/Single Date Select -->
 <ion-calendar [(ngModel)]="date" [options]="optionsSingle" (change)="onChange($event)" [type]="type"
   [format]="'YYYY-MM-DD'">
 </ion-calendar>
<!--
 // Date Range
 <h2 text-center>Date Range</h2>
 <ion-calendar [(ngModel)]="dateRange" [options]="optionsRange" [type]="type" [format]="'YYYY-MM-DD'">
 </ion-calendar>

 //Multi Date Select
 <h2 text-center>Multi Date</h2>
 <ion-calendar [(ngModel)]="dateMulti" [options]="optionsMulti" [type]="type" [format]="'YYYY-MM-DD'">
 </ion-calendar>
-->
</ion-content>
