<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ (impulse | async)?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card class="impulse-card">
    <ion-card-content>Impulse: {{ (impulse | async)?.title }}</ion-card-content>
    <ion-card-content>Date: {{ (impulse | async)?.date }}</ion-card-content>
    <ion-card-content>Scale: {{ (impulse | async)?.scale }}</ion-card-content>
    <ion-card-content>Description: {{ (impulse | async)?.description }}</ion-card-content>
  </ion-card>
  <ion-button expand="block" (click)="deleteImpulse()">
    <ion-icon name="trash"></ion-icon>
  </ion-button>
</ion-content>
