<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ (assignment | async)?.title }}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div padding>

        <h2 class="entry-titles">
            <span [hidden]="edit == true" (dblclick)="showEdit()">{{ (assignment | async)?.title }}</span>
            <input id= "edited-title"  value="{{ (assignment | async)?.title }}"  [hidden]= "edit == false" >
         </h2>

         <p class="entry-date" [hidden]="edit == true" (dblclick)="showEdit()">{{ (assignment | async)?.dueTime }}  </p>
          
         <ion-list lines="none">
         <ion-item [hidden]= "edit == false" >
          <ion-datetime displayFormat="MM/DD/YYYY HH:mm" placeholder="Due Time: " id="new_date" pickerFormat="MMM D:HH:mm" [min]="minDate"></ion-datetime>
        </ion-item>
         </ion-list>


         <select name ="assign" id="assign"  [hidden]= "edit == false" id="assign">
          <option value="">Assigned To</option>
          <option *ngFor="let user of currentUsers| async " value="{{user.userUID}}">{{user.firstName}} {{user.lastName}}</option>  
          <option *ngFor="let group of currentGroups| async " value="{{group.id}}">{{group.title}}</option>  
        </select>


        <span> <p class="entry-content" [hidden]="edit == true" (dblclick)="showEdit()">{{ (assignment | async)?.desc }}</p>
   <textarea class="edit-content" id= "edited-content" [hidden]= "edit == false" >{{ (assignment | async)?.desc }} </textarea></span>
    </div>




  <ion-button expand="block" color="danger"[hidden]= "edit == true" (click)="deleteAssignment()"id="deletebtn">Delete
    <ion-icon name="trash"></ion-icon>
  </ion-button>

  <ion-button expand="block" color="light" [hidden]= "edit == false" (click) = "edit = !edit" id="deletebtn">Cancel
  </ion-button>


  <ion-button color="success" expand="block" [hidden]= "edit == true" id="editbtn" (click)="showEdit()">Edit
      <ion-icon name="create"></ion-icon>
    </ion-button>
        <ion-button expand="block"[hidden]= "edit == true" color="light" id="memberbtn" routerLink="/agent-detail-members/{{assignment.assignmentUID}}">
      View Members
      </ion-button>
    <ion-button color="success" expand="block" [hidden]= "edit == false" id="editbtn" (click)="editAssignment()">Done 
    </ion-button>
</ion-content>
