<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ (group | async)?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <h2 class="entry-titles">{{ (group | async)?.title }}</h2>
    <p class="entry-date">Date: {{ (group | async)?.date }}</p>
  <br>
  <ion-button expand="block" color="light" id="groupbtn" routerLink="/agent-detail-members">
    View Group
    </ion-button>
  
    <ion-button expand="block" color="medium" id="addbtn"(click)="addMembers()">
    Add Members
    </ion-button>
    <ion-button expand="block" color="danger" (click)="deleteGroup()"id="deletebtn">Delete
      <ion-icon name="trash"></ion-icon>
    </ion-button>
</ion-content>
