<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ (group | async)?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card class="impulse-card">
    <ion-card-content class="entry-titles">{{ (group | async)?.title }}</ion-card-content>
    <ion-card-content class="entry-info">Date: {{ (group | async)?.date }}</ion-card-content>
  </ion-card>
  <br>
  <ion-button expand="block" color="light" id="groupbtn" routerLink='/ca-tabs'>
    View Group
    </ion-button>
  
    <ion-button expand="block" color="medium" id="addbtn"(click)="addMembers()">
    Add Members
    </ion-button>
</ion-content>
