.entry-titles{
  text-align: center;
  border: 1px solid lightgray;
  margin-left: 10%;
  width: 80%;
  border-radius: 10px;
  padding:3%;
  margin-top: 10%;
  overflow: hidden;
  font-size: 30px;
}

  .entry-members {
    text-align: center;
    margin-left: 7%;
    overflow: hidden;
    font-size: 20px;
    padding: 1%;
  }
  .entry-date {
    text-align: center;
    margin-left: 12%;
    padding: 5%;
    height: 22%;
    width: 75%;
    border: 1px solid lightgray;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    font-size: 17px;
    margin-bottom: 7%;
  }
  ion-button{
    width: 40%;
    margin-bottom: 5%;
    height: 8%;

  }
  #groupbtn{
    display: inline-block;
    margin-left: 4%;
  
  }
  #addbtn{
    display: inline-block;
    margin-left: 10%;
  
  }

  #deletebtn{
    display: inline-block;
    margin-left: 28%;
  
  }