<ion-header>
  <ion-toolbar>
    <ion-title>Groups</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/agent-create-group">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar class="search" debounce="500" (ionInput)="search($event)" placeholder="Search"></ion-searchbar>
  <button  class="sort" id="drobtn" (click)="dropMenu()">Sort</button>

  <div class="dro">
      <div id="myDro" class="dropdown-content">
        <a (click) = "order ='lastName'; reverse = true">Title A-Z</a>
        <a (click) = "order ='lastName'; reverse = false">Title Z-A</a>
      </div>
    </div> 
<br>
<!-- |orderBy: order2 : reverse : true-->
<ion-card *ngFor="let user of currentUsers| async;  let i = index  " id="{{i}}">
  <ion-card-header>
      <img id="photo" class="title-image"  routerLink="/user-detail-agent/{{user.userUID}}"src="{{user.photoURL}}" />
    
      <button id="add_group" type="button" (click)="changeCheck(i, user.userUID)">
        <ion-icon slot="icon-only" name="{{icon_name}}"></ion-icon>
      </button>

     <ion-card-title routerLink="/user-detail-agent/{{user.userUID}}" id="name">{{user.firstName}} {{user.lastName}} </ion-card-title>
     <ion-card-subtitle routerLink="/user-detail-agent/{{user.userUID}}" id ="user_type">{{user.userType}}</ion-card-subtitle>
  </ion-card-header>
</ion-card>


<ion-card *ngFor="let group of currentGroups | async " >
  <ion-card-header  routerLink="/agent-detail-group/{{group.id}}">
     <ion-card-title id="name">{{group.title}}</ion-card-title>
     <ion-card-subtitle id="user_type">{{group.date}}</ion-card-subtitle>
  </ion-card-header>
</ion-card>

</ion-content>
