<ion-header>
    <ion-toolbar>
      <ion-title>New Assignment</ion-title>
      <ion-back-button slot="start"></ion-back-button>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <form [formGroup]="createAssignmentForm" (submit)="createAssignment()">
    <div class="field">
      <input type="text" name ="title"  placeholder="Title" formControlName="title" class="form-control" id="title">
    </div>

      <div class="field" id="assigned"> 
    <select name ="assign"  formControlName="assignedTo" class="form-control" id="assign">
      <option value="">Assigned To</option>
      <option *ngFor="let user of currentUsers| async " value="{{user.userUID}}">{{user.firstName}} {{user.lastName}}</option>  
      <option *ngFor="let group of currentGroups| async " value="{{group.id}}">{{group.title}}</option>  
    </select>
    </div>

    <div class="field"> 
      <textarea formControlName="desc" id= "desc" type="text" placeholder="Description"></textarea>
    </div>
    
      <ion-list lines="none">
    <ion-item>
      <ion-datetime displayFormat="MM/DD/YYYY HH:mm"  placeholder="Due Time: " formControlName="due" pickerFormat="MMM D:HH:mm" [min]="minDate"></ion-datetime>
    </ion-item>
      </ion-list>
<br><br>
  <ion-button id="cancelbtn" expand="block" color="dark" routerLink='/tabs/tab1'>Cancel</ion-button>
    <ion-button expand="block" type="submit" [disabled]="!createAssignmentForm.valid">Add</ion-button>
  </form>

</ion-content>
