<ion-header>
  <ion-toolbar>
    <ion-title>search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar (ionInput)="getEntries($event)" placeholder="Search"></ion-searchbar>
    <ion-list>
      <button ion-item (click)="openEntry(entry)" *ngFor="let entry of currentEntries">
          
        <div class="entry" (click)="openEntry(entry)" *ngFor="let entry of currentEntries | orderBy: order : reverse : true">
              <img id="header_week" class="title-image" src="assets/days_of_week/{{entry.day}}_icon.png" />
              <h5 id="header_title">{{entry.title}}</h5>
              <p id="header_date">{{entry.date}}</p>
              <h6>{{entry.content}}</h6>
         </div>
  <br>
      </button>
    </ion-list>
  </ion-content>
