<ion-header>
  <ion-toolbar>
    <ion-title>Account</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label display="floating">First Name</ion-label>
    <ion-input type="text" [(ngModel)]="firstName" [placeholder]="this.authService.userData.first_name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label display="floating">Last Name</ion-label>
    <ion-input type="text" [(ngModel)]="lastName" [placeholder]="this.authService.userData.last_name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label display="floating">Phone Number</ion-label>
    <ion-input type="number" [(ngModel)]="phoneNumber" [placeholder]="this.authService.userData.phoneNumber"></ion-input>
  </ion-item>
  <!--
  <ion-item>
    <ion-label display="floating">Email</ion-label>
    <ion-input type="text" [(ngModel)]="email" [placeholder]="authService.userData.email" disabled></ion-input>
  </ion-item>
  -->
  <ion-button type="submit" expand="block" (click)="saveUserData()">Save</ion-button>
  <ion-button expand="block" color="dark" (click)="cancel()">Cancel</ion-button>

</ion-content>
