ion-item{
     font-size: 17px;
     margin-left:12%;
     margin-bottom: 10%;
     margin-top: 10%;
     width: 75%;

     border-radius: 10px;
     //display: inline-block;
     border: 1px solid #ccc;
     box-sizing: border-box;
    }
    ion-button{
        margin-left:5%;
        width: 40%;
        margin-bottom: 10%;
        display: inline-block;
        height: 50px;
    }
    form{
        margin-top: 10%;
        width: 85%;
        margin-left:5%;
    }