
  <ion-header class="bar-positive" align-title="center">
      <ion-toolbar>
        <ion-title class="title">Safe Contacts</ion-title>
        <ion-buttons slot="end">
          <ion-button routerLink="/create-contact">
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button>
          </ion-buttons>
          <ion-buttons slot="start">
            <ion-menu-button autoHide="false" ></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    
    <ion-content>
        <ion-searchbar class="search" debounce="500" (ionInput)="search($event)" placeholder="Search"></ion-searchbar>
     
     
        <button  class="sort" id="drop" (click)="dropMenu()">Sort</button>
    
      <div class="dropdown">
          <div id="myDrop" class="dropdown-cont">
            <a (click) = "ordering ='title'; reverse = true">Title A-Z</a>
            <a (click) = "ordering ='title'; reverse = false">Title Z-A</a>
          </div>
        </div>
    <br>
    <!--|  orderBy: ordering : reverse : true--><!--routerLink="/view-contact/{{contact.id}}"  -->
      <ion-card *ngFor="let contact of userContacts | async|  orderBy: ordering : reverse : true"> 
        <ion-card-header>
           <ion-card-title id="header_title" routerLink="/view-contact/{{contact.id}}">{{contact.title}}</ion-card-title>
           <ion-card-title id="header_num" routerLink="/view-contact/{{contact.id}}">{{ contact.content }} </ion-card-title>

           <ion-icon item-start
         name="call-outline"
          tappable
          (click)="callContact(contact.content)"></ion-icon>
        </ion-card-header>
      </ion-card>
    </ion-content>
    